{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spartan Gear | Artigos esportivos</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  <!-- Link para o arquivo CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static '/images/favicon.svg' %}" type="image/svg+xml">
</head>

<body>
    {% include 'spartangear/partials/_header.html' %}
    <div class="conteudo-pagina-carrinho">
        <!-- Modal de confirmação -->
        <div id="modalConfirmarExclusao" class="modalConfExcl">
            <div class="textos-modal-excluir">
                <h1 class="texto-conf-exc">Confirmar Exclusão?</h1>
                <h1 class="texto-centro-exc">Você está prestes a remover o último item do carrinho. Se fizer isso, será redirecionado para a nossa página inicial. Tem certeza que deseja continuar?</h1>
            </div>
            <div class="modal-parte-botoes">
                <button id="cancelarRemocao" class="btn-cancelar-exclusao" style="width: 100%;">Não excluir</button>
                <a href="{% url 'index' %}" style="all: unset; display: flex; flex: 1 0 0; width: 100%;"><button id="confirmarRemocao" class="btn-confirmar-exclusao">Excluir</button></a>
            </div>
        </div>
        <div class="scroll-produtos-carrinho">
            <div class="lista-produtos-carrinho" id="oficialCartItems" >
                <!-- <div class="card-prod-carrinho">
                    <div class="foto-produto-card-carrinho"></div>
                    <div class="info-card-carrinho">
                        <div class="dados-card-carrinho">
                            <div class="divs-mesma-medida">
                                <h1 class="text-nome-prod"> Nome do produto </h1>
                                <h1 class="text-tam-cor">Tamanho:</h1>
                                <h1 class="text-tam-cor">Cor:</h1>
                            </div>
                            <div class="botao-adicionar-card-carrinho" data-app="product.quantity">     
                                <button class="aumentar-diminuir-quant-card" type="button" id="plus" value='-' onclick="process_geral(-1)" >-</button>
                                <input class="quanti quant-card-carrinho" name="quanti" class="text" size="1" type="text" value="1" maxlength="5" />
                                <button class="aumentar-diminuir-quant-card" type="button" id="minus" value='+' onclick="process_geral(1)">+</button>
                            </div> 
                        </div>
                    </div>
                    <div class="valor-card-carrinho">
                        <a href="#">
                            <div class="lixeirinha-carrinho-card">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.3332 8H4.6665M25.1105 11.3333L24.4972 20.5333C24.2612 24.072 24.1438 25.8413 22.9905 26.92C21.8372 27.9987 20.0625 28 16.5158 28H15.4838C11.9372 28 10.1625 28 9.00917 26.92C7.85584 25.8413 7.73717 24.072 7.5025 20.5333L6.88917 11.3333M12.6665 14.6667L13.3332 21.3333M19.3332 14.6667L18.6665 21.3333" stroke="#C20000" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M8.6665 8H8.81317C9.34977 7.98629 9.86973 7.81096 10.3051 7.49695C10.7404 7.18294 11.0708 6.74485 11.2532 6.24L11.2985 6.10267L11.4278 5.71467C11.5385 5.38267 11.5945 5.21733 11.6678 5.076C11.8121 4.79919 12.0192 4.55999 12.2725 4.37755C12.5258 4.1951 12.8182 4.07448 13.1265 4.02533C13.2825 4 13.4572 4 13.8065 4H18.1932C18.5425 4 18.7172 4 18.8732 4.02533C19.1814 4.07448 19.4739 4.1951 19.7272 4.37755C19.9805 4.55999 20.1876 4.79919 20.3318 5.076C20.4052 5.21733 20.4612 5.38267 20.5718 5.71467L20.7012 6.10267C20.8701 6.66436 21.2196 7.15468 21.6954 7.49768C22.1712 7.84069 22.7469 8.01724 23.3332 8" stroke="#C20000" stroke-width="2"/>
                                </svg>
                            </div>
                        </a>
                        <h1 class="text-valor-produto">R$ 300,00</h1>
                    </div>
                </div>
                <div class="card-prod-carrinho">
                    <div class="foto-produto-card-carrinho"></div>
                    <div class="info-card-carrinho">
                        <div class="dados-card-carrinho">
                            <div class="divs-mesma-medida">
                                <h1 class="text-nome-prod">Nome do produto</h1>
                                <h1 class="text-tam-cor">Tamanho:</h1>
                                <h1 class="text-tam-cor">Cor:</h1>
                            </div>
                            
                        </div>
                    </div>
                    <div class="valor-card-carrinho">
                        <a href="#">
                            <div class="lixeirinha-carrinho-card">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.3332 8H4.6665M25.1105 11.3333L24.4972 20.5333C24.2612 24.072 24.1438 25.8413 22.9905 26.92C21.8372 27.9987 20.0625 28 16.5158 28H15.4838C11.9372 28 10.1625 28 9.00917 26.92C7.85584 25.8413 7.73717 24.072 7.5025 20.5333L6.88917 11.3333M12.6665 14.6667L13.3332 21.3333M19.3332 14.6667L18.6665 21.3333" stroke="#C20000" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M8.6665 8H8.81317C9.34977 7.98629 9.86973 7.81096 10.3051 7.49695C10.7404 7.18294 11.0708 6.74485 11.2532 6.24L11.2985 6.10267L11.4278 5.71467C11.5385 5.38267 11.5945 5.21733 11.6678 5.076C11.8121 4.79919 12.0192 4.55999 12.2725 4.37755C12.5258 4.1951 12.8182 4.07448 13.1265 4.02533C13.2825 4 13.4572 4 13.8065 4H18.1932C18.5425 4 18.7172 4 18.8732 4.02533C19.1814 4.07448 19.4739 4.1951 19.7272 4.37755C19.9805 4.55999 20.1876 4.79919 20.3318 5.076C20.4052 5.21733 20.4612 5.38267 20.5718 5.71467L20.7012 6.10267C20.8701 6.66436 21.2196 7.15468 21.6954 7.49768C22.1712 7.84069 22.7469 8.01724 23.3332 8" stroke="#C20000" stroke-width="2"/>
                                </svg>
                            </div>
                        </a>
                        <h1 class="text-valor-produto">R$ 300,00</h1>
                    </div>
                </div> -->
                <!--aplicar logica de exibicao aqui-->
                {% include 'spartangear/partials/_card_cart.html' %}
            </div>
        </div>
        <div class="total-pagar-carrinho">
            <div class="preco-produto-carrinho">
                <h1 class="texto-dentro-taxas-carrinho">Total em produtos</h1>
                <h1 class="texto-valores-taxas-carrinho">R$ 300,00</h1>
            </div>
            <div class="parte-do-frete">
                <div class="frete-texto">
                    <h1 class="texto-dentro-taxas-carrinho">Frete</h1>
                    <h1 class="texto-valores-taxas-carrinho" id="resultado">R$ --</h1>
                </div>
                <form class="calculo-frete" method="post">
                    <div class="calculadora-CEP">
                        <div class="caixa-digitavel-frete">
                            <input type="cep" id="cep" name="cep" class="text-digit-cep" placeholder="Digite seu CEP"  style="border: none; background: none; width: 100%; height: 100%;"> 
                        </div>
                        <button type="button" id="botao-calcular" onclick="calcularFrete()" class="botao-calcula-frete">
                            <h1 class="text-botao-calcular" style="cursor: pointer;">Calcular</h1>
                        </button>
                    </div>
                    <h1 onclick="window.open('https://buscacepinter.correios.com.br/app/endereco/index.php', '_blank')" style="cursor: pointer;" class="text-nao-sei-cep">Não sei meu CEP</h1>
                </form>
            </div>
            <div class="total-carrinho">
                <div class="prazo-entrega">
                    <h1 class="texto-dentro-taxas-carrinho">Prazo de entrega</h1>
                    <h1 class="text-prazo-dias">de 4 a 5 dias úteis</h1>
                </div>
                <div class="total-geral-carrinho">
                    <h1 class="texto-dentro-taxas-carrinho">Total:</h1>
                    <h1 class="texto-valores-taxas-carrinho" style="font-size: 24px;">R$ 320,00</h1>
                </div>
            </div>
            <div class="divs-mesma-medida">
                <button type="button" class="botao-finalizar"  onclick="window.location.href='{% url 'login' %}'" style="cursor: pointer; border:none">
                    <h1 class="text-finalizar">Finalizar compra</h1>
                </button>
                <button type="button" class="botao-comprar-mais" onclick="window.history.back();" style="cursor: pointer; width: 100%;">
                    <h1 class="texto-dentro-taxas-carrinho">Escolher mais produtos</h1>
                </button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/script.js' %}"></script>
    <script >
    function process_geral(quant){
    var classValue = parseInt(document.querySelector('.quanti').value);
    classValue+=quant;
    if(classValue < 1){
        document.querySelector("input.quanti").value = 1;
    }else{ 
        document.querySelector("input.quanti").value = classValue;    
    }
}  
        </script>

        <script>
            function calcularFrete() {
                // Pegando o valor do CEP inserido pelo usuário
                let cep = document.getElementById("cep").value;
            
                // Simulando o cálculo de frete sem o peso
                if (cep === "") {
                    alert("Por favor, insira o CEP.");
                    return;
                }
            
                let frete = 20;  // Exemplo: valor fixo de frete
                document.getElementById("resultado").innerHTML = "R$ " + frete.toFixed(2);
            }
        </script>

        <style>
             .button {
            font-size: 20px;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }
        .number {
            font-size: 20px;
            margin: 10px;
        }
            </style>

</body>
</html>
