{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spartan Gear | Artigos esportivos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  <!-- Link para o arquivo CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static '/images/favicon.svg' %}" type="image/svg+xml">
</head>

<body style="background-color: #1e1e1e;">
    <header>
    </header>
    <div class="pagina-login" style="position: relative;">
        {% for message in messages %}
            {% include 'users/partials/_messages.html' %}
        {% endfor %}
        <div class="principal-login">
            <div class="bem-vindo-login">
                <div class="titulo-boas-vindas">
                    <div class="divs-mesma-medida">
                        <div class="text-bem-vindoa">
                            Bem-vindo(a) de volta, guerreiro(a)!
                        </div>
                        <div class="text-proxima-conquista">
                            Pronto(a) para sua próxima conquista?
                        </div>
                    </div>
                </div>
                <form action="{% url 'login' %}" method="POST" class="entrar-fazer-login">
                    {% csrf_token %}
                    <div class="entrar-normal-login">
                        <div class="divis2-mesmo-tamanho">
                            <div class="não-tem-ou-tem-conta">
                                <div class="text-nao-tem-conta">
                                    Não tem uma conta?
                                </div>
                                <a href="{% url 'cadastro' %}" class="text-cadastre-verm">
                                    Cadastre-se
                                </a>
                            </div>
                                <div class="campos-login">
                                    <!-- <input type="email" id="email" name="email" class="caixa-digitavel" placeholder="Email" style="border:none" required> -->
                                    {{ form.email_login }}
                                    <div class="icones-24x24">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.5002 7.5C19.5002 6.675 18.8252 6 18.0002 6H6.00024C5.17524 6 4.50024 6.675 4.50024 7.5V16.5C4.50024 17.325 5.17524 18 6.00024 18H18.0002C18.8252 18 19.5002 17.325 19.5002 16.5V7.5ZM18.0002 7.5L12.0002 11.25L6.00024 7.5H18.0002ZM18.0002 16.5H6.00024V9L12.0002 12.75L18.0002 9V16.5Z" fill="#FEFEFE"/>
                                        </svg>
                                    </div>
                                </div>
                                
                                <div class="campos-login">
                                    <!-- <input type="password" id="senha" name="senha" class="caixa-digitavel" placeholder="Senha" style="border:none"required> -->
                                    {{ form.senha }}
                                    <div class="icones-24x24">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.0002 12C10.0002 13.0609 9.57882 14.0783 8.82867 14.8284C8.07853 15.5786 7.06111 16 6.00024 16C4.93938 16 3.92196 15.5786 3.17182 14.8284C2.42167 14.0783 2.00024 13.0609 2.00024 12C2.00024 10.9391 2.42167 9.92172 3.17182 9.17157C3.92196 8.42143 4.93938 8 6.00024 8C7.06111 8 8.07853 8.42143 8.82867 9.17157C9.57882 9.92172 10.0002 10.9391 10.0002 12ZM10.0002 12H22.0002V15M18.0002 12V15" stroke="#FEFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                            <div class="sem-senha-login">
                                <div class="text-esqueci-senha">
                                    <a href="{% url 'recuperarsenha' %}" class="text-esqueci-senha-link" style="color: #a1a1a1;cursor: pointer;">
                                        <h1 style="font-size: 12px; font-style: normal;">Esqueci a senha</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="botao-criar-conta" style="border: none;">
                            <h1 class="text-criar-conta">Entrar</h1>
                        </button>
                    </div>
                    <div class="ou">
                        <div class="linhas-ou"></div>
                        <div class="text-ou">
                            ou
                        </div>
                        <div class="linhas-ou"></div>
                    </div>
                    <button type="button" class="botao-google" onclick="window.open('https://accounts.google.com', '_blank')">
                        <span class="svg-container">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8055 10.0415H21V10H12V14H17.6515C16.827 16.3285 14.6115 18 12 18C8.6865 18 6 15.3135 6 12C6 8.6865 8.6865 6 12 6C13.5295 6 14.921 6.577 15.9805 7.5195L18.809 4.691C17.023 3.0265 14.634 2 12 2C6.4775 2 2 6.4775 2 12C2 17.5225 6.4775 22 12 22C17.5225 22 22 17.5225 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z" fill="#FFC107"/>
                                <path d="M3.15308 7.3455L6.43858 9.755C7.32758 7.554 9.48058 6 12.0001 6C13.5296 6 14.9211 6.577 15.9806 7.5195L18.8091 4.691C17.0231 3.0265 14.6341 2 12.0001 2C8.15908 2 4.82808 4.1685 3.15308 7.3455Z" fill="#FF3D00"/>
                                <path d="M11.9999 22C14.5829 22 16.9299 21.0115 18.7044 19.404L15.6094 16.785C14.5719 17.5745 13.3037 18.0014 11.9999 18C9.39891 18 7.19041 16.3415 6.35841 14.027L3.09741 16.5395C4.75241 19.778 8.11341 22 11.9999 22Z" fill="#4CAF50"/>
                                <path d="M21.8055 10.0415H21V10H12V14H17.6515C17.2571 15.1082 16.5467 16.0766 15.608 16.7855L15.6095 16.7845L18.7045 19.4035C18.4855 19.6025 22 17 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z" fill="#1976D2"/>
                            </svg>
                        </span>
                        <span class="text-google-cadastro">
                            Cadastrar com o Google
                        </span>
                    </button>
                </form>                
            </div>
        </div>
    </div>
    <!-- <script>
        // Verifica se todos os campos estão preenchidos
        function verificarCampos() {
            const camposObrigatorios = document.querySelectorAll('input[required]');
            const botaoCriarConta = document.getElementById('botao-criar-conta');
            let todosPreenchidos = true;
    
            camposObrigatorios.forEach((campo) => {
                if (!campo.value) {
                    todosPreenchidos = false;
                }
            });
    
            botaoCriarConta.disabled = !todosPreenchidos;// Ativa ou desativa o botão
        }
    
        // Adiciona eventos de input para todos os campos
        document.querySelectorAll('input').forEach((campo) => {
            campo.addEventListener('input', verificarCampos);
        });
    
        // Redireciona ao clicar no botão "Criar conta"
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault(); // Impede o comportamento padrão do submit
    
            // Aqui você define para onde a pessoa será redirecionada após o preenchimento
            window.location.href = "{% url 'index' %}"; // Redireciona para a página desejada

        });
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>
